{% extends 'partials/base.html' %}
{% block content %}
<br>
<h4 id="total_entry">Number of Sensor Entries</h4>
<br><br>
<div class="row">
    <!-- Touch Count Card -->
    <div class="col-xl-4 col-sm-12 mb-xl-0 mb-4 ">
        <div class="card" style="background-color: rgb(28, 28, 68); color: white;">
            <div class="card-header p-3 pt-2" style="background-color: rgb(53,113,191);color: white;">
                <div class="text-center">
                    <p class="text-sm mb-0 text-capitalize">Touch Events Count</p>
                    <h4 class="mb-0">{{ touch_count }}</h4> <!-- Replace with the actual count for touch events -->
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
            </div>
        </div>
    </div>



    <!-- Motion Count Card -->
    <div class="col-xl-4 col-sm-12 mb-xl-0 mb-4">
        <div class="card" style="background-color: rgb(28, 28, 68); color: white;">
            <div class="card-header p-3 pt-2" style="background-color: rgb(53,113,191); color: white;">
                <div class="text-center">
                    <p class="text-sm mb-0 text-capitalize">Motion Events Count</p>
                    <h4 class="mb-0">{{ motion_count }}</h4> <!-- Replace with the actual count for motion events -->
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
            </div>
        </div>
    </div>

    <!-- Fingerprint Count Card -->
    <div class="col-xl-4 col-sm-12 mb-xl-0 mb-4" >
        <div class="card" style="background-color: rgb(28, 28, 68); color: white;">
            <div class="card-header p-3 pt-2" style="background-color: rgb(53,113,191)
            ; color: white;">
                <div class="text-center">
                    <p class="text-sm mb-0 text-capitalize">Fingerprint Events Count</p>
                    <h4 class="mb-0">{{ fingerprint_count }}</h4> <!-- Replace with the actual count for fingerprint events -->
                </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h4 id="sensor_data">Sensor Data</h4>
    <table class="table table-bordered">
        <thead style="background-color: rgb(66, 116, 180)        ; color: white;">
            <tr>
                <th>Timestamp</th>
                <th>Status</th>
                <th>Sensor Type</th>
                <th>Activity</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in sensor_data %}
                <tr>
                    <td>{{ entry.datetime }}</td>
                    <td>{{ entry.status }}</td>
                    <td>{{ entry.sensor }}</td>
                    <td>{{ entry.activity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br><br>
</div>
<h4 id="sensor_chart">Sensor Chart</h4>
<canvas id="sensorChart" width="400" height="200"></canvas>

<script>
    var ctx = document.getElementById('sensorChart').getContext('2d');
    var sensorChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for entry in sensor_data %} '{{ entry.sensor }}', {% endfor %}],
            datasets: [{
                label: '# of Status',
                data: [{% for entry in sensor_data %} {{ entry.status }}, {% endfor %}],
                backgroundColor: [
                     'rgb(0, 0, 179)'
                ],
                borderColor: [
                    // 'rgba(255, 99, 132, 1)',
                    // 'rgba(54, 162, 235, 1)',
                    // 'rgba(255, 206, 86, 1)',
                    'rgb(37,37,39)'
                ],
                borderWidth: 1
                
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{% endblock %}
